@import "/src/variables";

// ------ styling for multiple speakers ------

// .singleSpeaker {
// 	width: 300px;
// 	font-size: $font_size_sm;
// 	margin: 1.5rem;
// }

// .imgContainer {
// 	position: relative;
// 	width: 100%;
// 	height: 320px;
// 	background-color: $color_dark_blue;
// 	margin-bottom: 1rem;
// 	overflow: hidden;
// }
// .img {
// 	width: 100%;
// 	height: 100%;
// 	object-fit: cover;
// }

// .name {
// 	font-weight: bold;
// }

// .company {
// 	margin-bottom: 1rem;
// }

// .description {
// 	text-align: left;
// }


// ------ styling for one speaker ------

.singleSpeaker {
	max-width: 950px;
	font-size: $font_size_sm;
	margin: 1.5rem;
	display: flex;
}

.imgContainer {
	position: relative;
	width: 300px;
	height: 320px;
	background-color: $color_dark_blue;
	margin-bottom: 1rem;
	margin-right: 1rem;
	overflow: hidden;
}
.img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.name {
	font-weight: bold;
}
.company {
	margin-bottom: 1rem;
}
.description {
	text-align: left;
}

@media screen and (max-width: 680px) {
	.singleSpeaker {
		flex-direction: column;
	}
}
@media screen and (max-width: 420px) {
	.imgContainer {
		width: 240px;
		height: 260px;
	}
}