@import "/src/variables";

.navLink {
  color: $color_white;
  text-decoration: none;
  margin: 0 2rem;
	transition: color 150ms ease;

	&:hover {
		color: lightgray;
		cursor: pointer;
	}

	&:first-child {
		margin: 0 2rem 0 0;
	}
	&:last-child {
		margin: 0 0 0 2rem;
	}
}

// collapsed navbar links for mobile
@media screen and (max-width: 600px) {
	.navLink {
		// text-align: center;
		margin: 1rem auto 1rem auto;

		&:first-child {
			margin: 0 auto 1rem auto;
		}
		&:last-child {
			margin: 1rem auto 0 auto;
		}
	}
}