@import "src/variables";

.supporter {
  position: relative;
  background-color: $color_black;
  color: $color_white;
  padding-bottom: 5rem;
}

.backgroundImage {
  position: absolute;
  bottom: 0;
}

.heading {
  font-family: $font_Terminator;
  font-size: $font_size_lg;
  margin-bottom: 5rem;
  text-transform: uppercase;
}

.grid {
  display: flex;
  justify-content: space-between;
}

.big img {
  aspect-ratio: 38 / 13;
  max-height: 15vw;
}

.small {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.small img {
  aspect-ratio: 17 / 11;
  max-width: 20vw;
}
