@import "src/variables";

.supporter {
  position: relative;
  background-color: $color_black;
  color: $color_white;
  padding: 1.5rem;
  padding-bottom: 23rem;
  background-image: url("/assets/SVG/SVG-Webseite/Footer.svg");
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: 25% 400px;
}

.heading {
  font-family: $font_Terminator;
  font-size: $font_size_lg;
  margin: 1.5rem 0 3rem 1.5rem;
  text-transform: uppercase;
}

@media screen and (max-width: 1462px) {
  .supporter {
    background-size: 140%;
    background-position: 25% 350px;
  }
}

@media screen and (max-width: 1356) {
  .supporter {
    background-size: 140%;
    background-position: 25% 350px;
  }
}

@media screen and (max-width: 1100px) {
  .supporter {
    padding-bottom: 17rem;
    background-size: 150%;
    background-position: 12% 195%;
  }
}

@media screen and (max-width: 800px) {
  .heading {
    font-size: $font_size_md;
  }
  .supporter {
    background-position: 12% 125%;
  }
}
@media screen and (max-width: 435px) {
  .heading {
    font-size: $font_size_sm;
  }
}



.backgroundImage {
  scale: 150%;
  left: 50%;
  overflow: hidden;
  margin-top: 5rem;
  bottom: 0;
}

.big {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  justify-content: space-around;
  a,
  img {
    aspect-ratio: 32 / 13;
		width: 20vw;
    max-width: 20vw;
  }
}

.small {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  justify-content: space-around;
  margin-top: 1.5rem;
  a,
  img {
    aspect-ratio: 17 / 11;
    max-width: 20vw;
  }
}
