@import "src/variables";

.privacy {
  margin-top: $navbar-height;
	padding: 3rem;
	color: $color_white;
	background-color: $color_dark_blue;
	min-height: calc(100vh - $navbar-height);
}

.privacy h1 {
	font-size: $font_size_lg;
	margin-bottom: 3rem;
}
.privacy h2 {
	margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: $font_size_md;
}
.privacy h3 {
  margin-bottom: 1rem;
}
.privacy p {
  margin-bottom: 1rem;
}

@media screen and (max-width: 500px) {
	.privacy {
		padding: 1.5rem;
	}
	.privacy h1 {
		font-size: $font_size_md;
	}
	.privacy h2 {
		font-size: $font_size_sm;
	}
}