@import "/src/variables";
.projects {
  position: relative;
  background-color: $color_dark_blue;
  color: $color_white;
  min-height: $full-height;
  padding: 3rem;
}

.heading {
  font-family: $font_Terminator;
  font-size: $font_size_lg;
	margin-bottom: 4.5rem;
}

.comingSoonContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - $navbar-height);
  display: flex;
  align-items: center;
  justify-content: center;
}
.comingSoon {
  font-family: $font_Terminator;
  font-size: $font_size_md;
  text-align: center;
  color: $color_dark_blue;
  -webkit-text-stroke: 1px $color_white;
}

@media screen and (max-width: 800px) {
	.heading {
		font-size: 3rem;
	}
}
@media screen and (max-width: 630px) {
	.heading {
		font-size: $font_size_md;
	}
}
@media screen and (max-width: 435px) {
  .heading {
    font-size: $font_size_sm;
  }
	.comingSoon {
		font-size: $font_size_sm;
	}
}
