@import "/src/variables";
.projects {
  background-color: $color_dark_blue;
  color: $color_white;
  min-height: $full-height;
  padding: 3rem;
}

.heading {
  font-family: $font_Terminator;
  font-size: $font_size_lg;
}
