@import "/src/variables";

$width: 700px;

.ImageFrame {
  width: $width;
  height: 100%;
  overflow: hidden;
}

.SlideContainer {
  white-space: nowrap;
  transition: 600ms;
  height: 100%;
}

.Slide {
  width: $width;
  height: 100%;
  display: inline-block;
  background-color: green;
}
