$color_black: #000000;
$color_white: #ffffff;

// Primary color
$color_neon_blue: #0cbdc6;
$color_neon_pink: #ea00d9;
$color_purple: #711c91;

//Secondary color
$color_dark_blue: #001833;
$color_blue: #133e7c;

//Accent color
$color_neon_yellow: #ffed00;
