$font_Inter_Regular: "Inter", sans-serif;
$font_Inter_Bold: bold "Inter", sans-serif;

$font_Terminator_Regular: "TERMINATOR", sans-serif;
$font_Terminator_Bold: bold "TERMINATOR", sans-serif;

$font_size_sm: 1rem;
$font_size_md: 2rem;
$font_size_lg: 3rem;
