@import "/src/variables";

.navbar {
	z-index: 999;
  position: fixed;
  top: 0;
  height: $navbar-height;
  width: 100%;
  background-color: $color_black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}

.navbar__logo {
  height: calc($navbar-height * 0.5);
}

.navbar__links {
  display: flex;
  color: $color_white;
}